ul{
    padding: 0;
}

li{
    list-style: none;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 26px rgba(0,0,0,0.4), 0 28px 30px rgba(0,0,0,0.3);
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;}

.avatar {
    width: 150px;
    border-radius: 50%;
}

.stats {
    display: flex;
    
}

.stats li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    background-color: rgba(160, 159, 156, 0.307);
}